{
  "openapi": "3.0.3",
  "info": {
    "title": "Enzo API",
    "description": "OpenAPI compliant REST API built using tRPC with Next.js",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.enzo.health/api"
    }
  ],
  "externalDocs": {
    "url": "https://docs.enzo.health/api"
  },
  "paths": {
    "/v1/workflows/{workflowId}/linkedWorkflows": {
      "get": {
        "operationId": "getLinkedWorkflows",
        "summary": "Get linked workflows",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "version": {
                            "type": "string",
                            "default": "1"
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "graphCoordinates": {
                                  "type": "object",
                                  "properties": {
                                    "x": {
                                      "type": "number"
                                    },
                                    "y": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "x",
                                    "y"
                                  ]
                                },
                                "blocks": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/block"
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "title",
                                "graphCoordinates",
                                "blocks"
                              ]
                            }
                          },
                          "variables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "groupId": {
                                  "type": "string"
                                },
                                "isSessionVariable": {
                                  "type": "boolean"
                                },
                                "value": {
                                  "nullable": true,
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "name"
                              ]
                            }
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "version",
                          "groups",
                          "variables",
                          "name"
                        ]
                      }
                    }
                  },
                  "required": [
                    "workflows"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflowRuns/{publicId}/start": {
      "post": {
        "operationId": "workflow-startWorkflowRun",
        "summary": "Start workflow run",
        "parameters": [
          {
            "in": "path",
            "name": "publicId",
            "description": "[Where to find my workflow's public ID?](../how-to#how-to-find-my-publicid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my workflow's public ID?](../how-to#how-to-find-my-publicid)"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prefilledVariables": {
                    "type": "object",
                    "additionalProperties": {},
                    "example": {
                      "Input File": "https://example.com/file.txt"
                    }
                  },
                  "workflowExecutionId": {
                    "type": "string",
                    "description": "Provide it if you'd like to overwrite an existing result."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "To save and use for /continue requests."
                    },
                    "workflowExecutionId": {
                      "type": "string"
                    },
                    "workflow": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      },
                      "description": "Logs that were saved during the last execution"
                    },
                    "progress": {
                      "type": "number",
                      "description": "If enabled, this field will return a number between 0 and 100 indicating the current progress based on the longest remaining path of the workflow run."
                    },
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "payload": {}
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    }
                  },
                  "required": [
                    "sessionId",
                    "workflow"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflowRuns/{workflowId}/preview/start": {
      "post": {
        "operationId": "workflow-startWorkflowRunPreview",
        "summary": "Start preview workflow run",
        "description": "Use this endpoint to test your workflow.",
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflow": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/workflowV1"
                      },
                      {
                        "description": "If set, it will override the workflow that is used to start the workflow run."
                      }
                    ]
                  },
                  "startFrom": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "group"
                            ]
                          },
                          "groupId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "groupId"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "event"
                            ]
                          },
                          "eventId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "eventId"
                        ]
                      }
                    ]
                  },
                  "prefilledVariables": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "[More info about prefilled variables.](../../editor/variables#prefilled-variables)",
                    "example": {
                      "First name": "John",
                      "Email": "john@gmail.com"
                    }
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "If provided, will be used as the session ID and will overwrite any existing session with the same ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "To save and use for /continue requests."
                    },
                    "workflowExecutionId": {
                      "type": "string"
                    },
                    "workflow": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      },
                      "description": "Logs that were saved during the last execution"
                    },
                    "progress": {
                      "type": "number",
                      "description": "If enabled, this field will return a number between 0 and 100 indicating the current progress based on the longest remaining path of the workflow run."
                    },
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    }
                  },
                  "required": [
                    "sessionId",
                    "workflow",
                    "event"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows": {
      "post": {
        "operationId": "workflow-createWorkflow",
        "summary": "Create a workflow",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationId": {
                    "type": "string"
                  },
                  "workflow": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string",
                        "nullable": true
                      },
                      "groups": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "graphCoordinates": {
                              "type": "object",
                              "properties": {
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "x",
                                "y"
                              ]
                            },
                            "blocks": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/block"
                              }
                            }
                          },
                          "required": [
                            "id",
                            "title",
                            "graphCoordinates",
                            "blocks"
                          ]
                        }
                      },
                      "events": {
                        "type": "array",
                        "maxItems": 1,
                        "minItems": 1,
                        "items": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/event"
                            }
                          ]
                        }
                      },
                      "folderId": {
                        "type": "string",
                        "nullable": true
                      },
                      "variables": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "groupId": {
                              "type": "string"
                            },
                            "isSessionVariable": {
                              "type": "boolean"
                            },
                            "value": {
                              "nullable": true,
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ]
                        }
                      },
                      "edges": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "from": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "blockId": {
                                      "type": "string"
                                    },
                                    "itemId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "blockId"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "eventId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "eventId"
                                  ]
                                }
                              ]
                            },
                            "to": {
                              "type": "object",
                              "properties": {
                                "groupId": {
                                  "type": "string"
                                },
                                "blockId": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "groupId"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "from",
                            "to"
                          ]
                        }
                      },
                      "resultsTablePreferences": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "columnsOrder": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "columnsVisibility": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "boolean"
                            }
                          },
                          "columnsWidth": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "number"
                            }
                          }
                        },
                        "required": [
                          "columnsOrder",
                          "columnsVisibility",
                          "columnsWidth"
                        ]
                      },
                      "publicId": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                },
                "required": [
                  "organizationId",
                  "workflow"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflow": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string",
                          "default": "1"
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "graphCoordinates": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              },
                              "blocks": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/block"
                                }
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "graphCoordinates",
                              "blocks"
                            ]
                          }
                        },
                        "events": {
                          "type": "array",
                          "maxItems": 1,
                          "minItems": 1,
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/event"
                              }
                            ]
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "icon": {
                          "type": "string",
                          "nullable": true
                        },
                        "edges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "from": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "blockId": {
                                        "type": "string"
                                      },
                                      "itemId": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "blockId"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "eventId": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "eventId"
                                    ]
                                  }
                                ]
                              },
                              "to": {
                                "type": "object",
                                "properties": {
                                  "groupId": {
                                    "type": "string"
                                  },
                                  "blockId": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "groupId"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "from",
                              "to"
                            ]
                          }
                        },
                        "variables": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "groupId": {
                                "type": "string"
                              },
                              "isSessionVariable": {
                                "type": "boolean"
                              },
                              "value": {
                                "nullable": true,
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "folderId": {
                          "type": "string",
                          "nullable": true
                        },
                        "publicId": {
                          "type": "string",
                          "nullable": true
                        },
                        "organizationId": {
                          "type": "string"
                        },
                        "resultsTablePreferences": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "columnsOrder": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "columnsVisibility": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "boolean"
                              }
                            },
                            "columnsWidth": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number"
                              }
                            }
                          },
                          "required": [
                            "columnsOrder",
                            "columnsVisibility",
                            "columnsWidth"
                          ]
                        },
                        "isArchived": {
                          "type": "boolean"
                        },
                        "isClosed": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "version",
                        "groups",
                        "events",
                        "id",
                        "name",
                        "icon",
                        "edges",
                        "variables",
                        "createdAt",
                        "updatedAt",
                        "folderId",
                        "publicId",
                        "organizationId",
                        "resultsTablePreferences",
                        "isArchived",
                        "isClosed"
                      ]
                    }
                  },
                  "required": [
                    "workflow"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "workflow-listWorkflows",
        "summary": "List workflows",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organizationId",
            "description": "[Where to find my organization ID?](../how-to#how-to-find-my-organizationid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my organization ID?](../how-to#how-to-find-my-organizationid)"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "folderId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "publishedWorkflowId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "icon",
                          "id"
                        ]
                      }
                    }
                  },
                  "required": [
                    "workflows"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/{workflowId}": {
      "patch": {
        "operationId": "workflow-updateWorkflow",
        "summary": "Update a workflow",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflow": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string",
                        "default": "1"
                      },
                      "name": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string",
                        "nullable": true
                      },
                      "groups": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "graphCoordinates": {
                              "type": "object",
                              "properties": {
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "x",
                                "y"
                              ]
                            },
                            "blocks": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/block"
                              }
                            }
                          },
                          "required": [
                            "id",
                            "title",
                            "graphCoordinates",
                            "blocks"
                          ]
                        }
                      },
                      "folderId": {
                        "type": "string",
                        "nullable": true
                      },
                      "variables": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "groupId": {
                              "type": "string"
                            },
                            "isSessionVariable": {
                              "type": "boolean"
                            },
                            "value": {
                              "nullable": true,
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ]
                        }
                      },
                      "edges": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "from": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "blockId": {
                                      "type": "string"
                                    },
                                    "itemId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "blockId"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "eventId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "eventId"
                                  ]
                                }
                              ]
                            },
                            "to": {
                              "type": "object",
                              "properties": {
                                "groupId": {
                                  "type": "string"
                                },
                                "blockId": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "groupId"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "from",
                            "to"
                          ]
                        }
                      },
                      "resultsTablePreferences": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "columnsOrder": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "columnsVisibility": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "boolean"
                            }
                          },
                          "columnsWidth": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "number"
                            }
                          }
                        },
                        "required": [
                          "columnsOrder",
                          "columnsVisibility",
                          "columnsWidth"
                        ]
                      },
                      "publicId": {
                        "type": "string",
                        "nullable": true
                      },
                      "isClosed": {
                        "type": "boolean"
                      },
                      "events": {
                        "type": "array",
                        "maxItems": 1,
                        "minItems": 1,
                        "items": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/event"
                            }
                          ]
                        }
                      },
                      "updatedAt": {
                        "type": "string"
                      }
                    },
                    "title": "Workflow"
                  }
                },
                "required": [
                  "workflow"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflow": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string",
                          "default": "1"
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "graphCoordinates": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              },
                              "blocks": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/block"
                                }
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "graphCoordinates",
                              "blocks"
                            ]
                          }
                        },
                        "events": {
                          "type": "array",
                          "maxItems": 1,
                          "minItems": 1,
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/event"
                              }
                            ]
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "icon": {
                          "type": "string",
                          "nullable": true
                        },
                        "edges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "from": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "blockId": {
                                        "type": "string"
                                      },
                                      "itemId": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "blockId"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "eventId": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "eventId"
                                    ]
                                  }
                                ]
                              },
                              "to": {
                                "type": "object",
                                "properties": {
                                  "groupId": {
                                    "type": "string"
                                  },
                                  "blockId": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "groupId"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "from",
                              "to"
                            ]
                          }
                        },
                        "variables": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "groupId": {
                                "type": "string"
                              },
                              "isSessionVariable": {
                                "type": "boolean"
                              },
                              "value": {
                                "nullable": true,
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "folderId": {
                          "type": "string",
                          "nullable": true
                        },
                        "publicId": {
                          "type": "string",
                          "nullable": true
                        },
                        "organizationId": {
                          "type": "string"
                        },
                        "resultsTablePreferences": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "columnsOrder": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "columnsVisibility": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "boolean"
                              }
                            },
                            "columnsWidth": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number"
                              }
                            }
                          },
                          "required": [
                            "columnsOrder",
                            "columnsVisibility",
                            "columnsWidth"
                          ]
                        },
                        "isArchived": {
                          "type": "boolean"
                        },
                        "isClosed": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "version",
                        "groups",
                        "events",
                        "id",
                        "name",
                        "icon",
                        "edges",
                        "variables",
                        "createdAt",
                        "updatedAt",
                        "folderId",
                        "publicId",
                        "organizationId",
                        "resultsTablePreferences",
                        "isArchived",
                        "isClosed"
                      ]
                    }
                  },
                  "required": [
                    "workflow"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "workflow-getWorkflow",
        "summary": "Get a workflow",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "migrateToLatestVersion",
            "description": "If enabled, the workflow will be converted to the latest schema version",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "If enabled, the workflow will be converted to the latest schema version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflow": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string",
                          "default": "1"
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "graphCoordinates": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              },
                              "blocks": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/block"
                                }
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "graphCoordinates",
                              "blocks"
                            ]
                          }
                        },
                        "events": {
                          "type": "array",
                          "maxItems": 1,
                          "minItems": 1,
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/event"
                              }
                            ]
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "icon": {
                          "type": "string",
                          "nullable": true
                        },
                        "edges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "from": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "blockId": {
                                        "type": "string"
                                      },
                                      "itemId": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "blockId"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "eventId": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "eventId"
                                    ]
                                  }
                                ]
                              },
                              "to": {
                                "type": "object",
                                "properties": {
                                  "groupId": {
                                    "type": "string"
                                  },
                                  "blockId": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "groupId"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "from",
                              "to"
                            ]
                          }
                        },
                        "variables": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "groupId": {
                                "type": "string"
                              },
                              "isSessionVariable": {
                                "type": "boolean"
                              },
                              "value": {
                                "nullable": true,
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "folderId": {
                          "type": "string",
                          "nullable": true
                        },
                        "publicId": {
                          "type": "string",
                          "nullable": true
                        },
                        "organizationId": {
                          "type": "string"
                        },
                        "resultsTablePreferences": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "columnsOrder": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "columnsVisibility": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "boolean"
                              }
                            },
                            "columnsWidth": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number"
                              }
                            }
                          },
                          "required": [
                            "columnsOrder",
                            "columnsVisibility",
                            "columnsWidth"
                          ]
                        },
                        "isArchived": {
                          "type": "boolean"
                        },
                        "isClosed": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "version",
                        "groups",
                        "events",
                        "id",
                        "name",
                        "icon",
                        "edges",
                        "variables",
                        "createdAt",
                        "updatedAt",
                        "folderId",
                        "publicId",
                        "organizationId",
                        "resultsTablePreferences",
                        "isArchived",
                        "isClosed"
                      ]
                    },
                    "currentUserMode": {
                      "type": "string",
                      "enum": [
                        "guest",
                        "read",
                        "write"
                      ]
                    }
                  },
                  "required": [
                    "workflow",
                    "currentUserMode"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "workflow-deleteWorkflow",
        "summary": "Delete a workflow",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/{workflowId}/publishedWorkflow": {
      "get": {
        "operationId": "workflow-getPublishedWorkflow",
        "summary": "Get published workflow",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "migrateToLatestVersion",
            "description": "If enabled, the workflow will be converted to the latest schema version",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "If enabled, the workflow will be converted to the latest schema version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publishedWorkflow": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string",
                          "default": "1"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "workflowId": {
                          "type": "string"
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "graphCoordinates": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              },
                              "blocks": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/block"
                                }
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "graphCoordinates",
                              "blocks"
                            ]
                          }
                        },
                        "events": {
                          "type": "array",
                          "maxItems": 1,
                          "minItems": 1,
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/event"
                              }
                            ]
                          }
                        },
                        "edges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "from": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "blockId": {
                                        "type": "string"
                                      },
                                      "itemId": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "blockId"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "eventId": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "eventId"
                                    ]
                                  }
                                ]
                              },
                              "to": {
                                "type": "object",
                                "properties": {
                                  "groupId": {
                                    "type": "string"
                                  },
                                  "blockId": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "groupId"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "from",
                              "to"
                            ]
                          }
                        },
                        "variables": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "groupId": {
                                "type": "string"
                              },
                              "isSessionVariable": {
                                "type": "boolean"
                              },
                              "value": {
                                "nullable": true,
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "version",
                        "createdAt",
                        "updatedAt",
                        "workflowId",
                        "groups",
                        "events",
                        "edges",
                        "variables"
                      ]
                    },
                    "version": {}
                  },
                  "required": [
                    "publishedWorkflow"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/{workflowId}/publish": {
      "post": {
        "operationId": "workflow-publishWorkflow",
        "summary": "Publish a workflow",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/{workflowId}/unpublish": {
      "post": {
        "operationId": "workflow-unpublishWorkflow",
        "summary": "Unpublish a workflow",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my workflow's ID?](../how-to#how-to-find-my-workflowid)"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/import": {
      "post": {
        "operationId": "workflow-importWorkflow",
        "summary": "Import a workflow",
        "tags": [
          "Workflow"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationId": {
                    "type": "string",
                    "description": "[Where to find my organization ID?](../how-to#how-to-find-my-organizationid)"
                  },
                  "workflow": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string",
                        "default": "1"
                      },
                      "groups": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "graphCoordinates": {
                              "type": "object",
                              "properties": {
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "x",
                                "y"
                              ]
                            },
                            "blocks": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/block"
                              }
                            }
                          },
                          "required": [
                            "id",
                            "title",
                            "graphCoordinates",
                            "blocks"
                          ]
                        }
                      },
                      "events": {
                        "type": "array",
                        "maxItems": 1,
                        "minItems": 1,
                        "items": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/event"
                            }
                          ]
                        }
                      },
                      "name": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string",
                        "nullable": true
                      },
                      "edges": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "from": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "blockId": {
                                      "type": "string"
                                    },
                                    "itemId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "blockId"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "eventId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "eventId"
                                  ]
                                }
                              ]
                            },
                            "to": {
                              "type": "object",
                              "properties": {
                                "groupId": {
                                  "type": "string"
                                },
                                "blockId": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "groupId"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "from",
                            "to"
                          ]
                        }
                      },
                      "variables": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "groupId": {
                              "type": "string"
                            },
                            "isSessionVariable": {
                              "type": "boolean"
                            },
                            "value": {
                              "nullable": true,
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ]
[...]
